version: '3.8'

services:
  # Embedding Service
  embedding_service:
    build: ./embedding_service
    container_name: embedding_service
    ports:
      - "8001:8001"
    restart: unless-stopped
    networks:
      - rag_network

  # Elasticsearch Service
  elasticdb:
    build: ./elasticdb
    container_name: elasticdb
    ports:
      - "9200:9200"
    restart: unless-stopped
    networks:
      - rag_network

  # Streamlit Service for Interaction
  streamlit_service:
    build: ./elastic_streamlit
    container_name: elastic_streamlit
    ports:
      - "8501:8501"
    depends_on:
      - embedding_service
      - elasticdb
    restart: unless-stopped
    networks:
      - rag_network
    entrypoint: ["/bin/sh", "-c", "sleep 60 && ./start_streamlit.sh"]
  # Elasticsearch Index Creation Service
  index_creation_service:
    build: ./elastic_index_service
    container_name: elastic_index_service
    depends_on:
      - elasticdb
    networks:
      - rag_network
    entrypoint: ["/bin/sh", "-c", "sleep 30 && ./start_index_creation.sh"]
networks:
  rag_network:
    driver: bridge

volumes:
  es_data:
    driver: local


 
